/* Input feedback */
[data-fb="none"] {
  border: var(--border);
}
[data-fb="correct"] {
  border-color: var(--correct-bg-color);
}
[data-fb="warning"] {
  border-color: var(--warning-bg-color);
}
[data-fb="error"] {
  border-color: var(--error-bg-color);
}
[data-fb="none"] + aside {
  display: none;
  color: var(--font-color-1);
}
[data-fb="correct"] + aside {
  color: var(--correct-bg-color);
}
[data-fb="warning"] + aside {
  color: var(--warning-bg-color);
}
[data-fb="error"] + aside {
  color: var(--error-bg-color);
}

/* Toasts */
#toaster {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--gap);
}
[data-toast] {
  margin: auto;
  cursor: pointer;
  width: fit-content;
  box-shadow: var(--shadow-2);
  padding: var(--padding);
  border-radius: var(--radius-2);
  display: flex;
  gap: var(--pad);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
[data-toast].exit::after {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  font-size: large;
  content: "\f00d";
}
@media (hover: hover) {
  [data-toast]:hover { opacity: .5; }
}
[data-toast="neutral"] {
  border: var(--border);
  background-color: var(--button-font-color);
  border-color: var(--button-bg-color);
  color: var(--button-bg-color);
}
[data-toast="correct"] {
  border: var(--border);
  background-color: var(--correct-bg-color);
  border-color: var(--correct-font-color);
  color: var(--correct-font-color);
}
[data-toast="warning"] {
  border: var(--border);
  background-color: var(--warning-bg-color);
  border-color: var(--warning-font-color);
  color: var(--warning-font-color);
}
[data-toast="error"] {
  border: var(--border);
  background-color: var(--error-bg-color);
  border-color: var(--error-font-color);
  color: var(--error-font-color);
}

/* Loading */
.loadingScreen-black {
  cursor: wait;

  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;

  background-color: #000000aa;
  height: 100%;
  width: 100%;
}
.loadingScreen-spin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  0%   { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg) ;
  }
  100% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}
.loadingScreen-icon {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color-0);
  opacity: .2;
  font-size: 40vh;
}
.loadingOverlay {
  position: relative;
  filter: var(--filter-brightness-diable);
  cursor: wait;
}
.loadingOverlay::after {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  font-size: x-large;
  content: "\f1ce";
  filter: brightness(200%) contrast(200%);
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (hover: hover) {
  .loadingOverlay:hover {
    filter: var(--filter-brightness-diable);
  }
}