/* base.css v3 | 5-25-2022 */

/* #region Variables */

body {

  /* Text */
  --font-size: 16px;
  --font-text: 'Open Sans', -apple-system, BlinkMacSystemFont, 
                avenir next, avenir, segoe ui, helvetica neue, helvetica, 
                Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-mono: 'Fira Code', Menlo, Consolas, Monaco, 
                Liberation Mono, Lucida Console, monospace;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, 
                Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, 
                Segoe UI Emoji, Segoe UI Symbol;
  --line-height: 1.75;

  /* Margin, Padding, Gap */ 
  /* top | right | bottom | left */
  --margin-x: 1.2rem;
  --margin-y: 1.2rem;
  --margin: var(--margin-y) var(--margin-x);
  --padding-x: .6em;
  --padding-y: .6em;
  --padding: var(--padding-y) var(--padding-x);
  --gap: 1.2rem;

  /* Outline, Border, Border Radius */
  /* width | style | color */
  --outline: 2px solid var(--w70);
  --border: 2px solid var(--w30);
  --radius: 0.4rem;
  --radius-2: 0.8rem;

  /* Shadow */ 
  /* box-shadow: offset-x | offset-y | blur-radius | spread-radius | color */
  /* text-shadow: offset-x | offset-y | blur-radius | color */
  --text-shadow: 1px 1px 4px black;
  --shadow: 2px 2px 0px 0px black;
  --shadow-2:
    0px 0px 2px 2px black,
    0px 0px 10px 0px black;
  --shadow-in: inset 2px 2px 0px 0px #FFFFFF22;
  
  /* Breakpoints */
  --break-sm: 295px;
  --break-md: 550px;
  --break-lg: 960px;
  --break-xl: 1280px;

  /* White / Grayscale */
  --w90:  hsl( 220, 10%,  90%);
  --w70:  hsl( 220, 10%,  65%);
  --w50:  hsl( 220, 10%,  45%);
  --w30:  hsl( 220, 10%,  16%);
  --w10:  hsl( 220, 10%,   6%);

  /* Accent */
  --a90: hsl( 265,  94%,  90%);
  --a70: hsl( 265, 100%,  65%);
  --a50: hsl( 265,  65%,  45%);
  --a30: hsl( 265,  38%,  16%);
  --a10: hsl( 265,  20%,   6%);

}

/* #endregion Variables */

/* #region Base - * html body main section */

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

html {
  color-scheme: dark;
  font-size: var(--font-size);
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: var(--w10); /* background color */
  color: var(--w70); /* text color */
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: normal;

  height: 100%;
  max-width: 100%;
  overflow-x: auto;
}

main {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  display: grid;
  gap: var(--gap);
  /* align-items: baseline; */
  border-radius: var(--radius-2);
  padding: var(--gap);
}

@media (min-width: 960px) { main { width: var(--break-lg); } }
@media (min-width: 1280px) { main { width: var(--break-xl); } }

section,
article {
  display: block;
  max-width: 100%;
  /* overflow-x: auto; */
  display: grid;
  gap: var(--gap);
  /* align-items: baseline; */
  border-radius: var(--radius-2);
  /* padding: var(--gap); */
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: calc(2*var(--gap));
  padding: var(--gap);
  overflow-x: auto;
  background-color: black;
  border-bottom: var(--border);
  /* border-color: var(--w30); */
  /* box-shadow: var(--shadow-2); */
  white-space: nowrap;
}

nav a {
  color: var(--w50);
  text-decoration: none;
}

nav a.active {
  color: var(--w90);
}

nav .right {
  margin-left: auto;
}

footer {
  text-align: center;
  color: var(--w50);
}

main + footer {
  margin-top: var(--gap);
  padding: calc(var(--gap)*1) var(--gap) calc(var(--gap)*5) var(--gap);
  text-align: left;
  border-top: var(--border);
  /* border-color: var(--w30); */
  color: var(--w30);
}
footer > a { color: var(--w30); }

hr {
  height: 2px;
  width: 90%;
  background-color: var(--w30);
  margin: calc(var(--gap)*1) auto;
  border-radius: 99px;
}

noscript {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: black;
  padding: var(--gap);
  text-align: center;
  color: red;
  font-size: x-large;
}

img,
svg,
embed,
video,
canvas,
iframe,
picture { 
  max-width: 100%;
  display: block;
  border-radius: var(--radius);
  /* height: 100%; */
  /* max-height: 100%; */
  /* object-position: top; */
  /* object-fit: cover; */
}

audio {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* #endregion Base */

/* #region Typography - p h1 h2 h3 h4 h5 h6 */

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /* Avoid text/url overflows */
  color: var(--w90);
  /* text-shadow: var(--text-shadow); */
}

h1 { font-size: 2.0rem; line-height: 1.0; }
h2 { font-size: 1.8rem; line-height: 1.0; }
h3 { font-size: 1.6rem; line-height: 1.0; }
h4 { font-size: 1.4rem; line-height: 1.0; }
h5 { font-size: 1.2rem; line-height: 1.0; }
h6 { font-size: 1.0rem; line-height: 1.0; }

/* Sub-Headings */
h1 > p,
h2 > p,
h3 > p,
h4 > p,
h5 > p,
h6 > p {
  color: var(--w50);
  font-weight: lighter;
}

p {
  overflow-wrap: break-word; /* Avoid text/url overflows */
  line-height: var(--line-height);
  max-width: 80ch;
  font-size: 1rem;
}

a {
  cursor: pointer;
}

/* #endregion */

/* #region Inputs - input button select textarea */

a {
  text-decoration: none;
  /* color: var(--w90); */
}

input:not([type="file"],[type="range"]),
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.button,
input,
button,
select,
textarea {
  background-color: var(--w30);
  border-radius: var(--radius);
  border: var(--border);
  padding: var(--padding);
  color: var(--w90);
  line-height: 1.2;
}

input,
textarea {
  cursor: text;
  /* box-shadow: var(--shadow-in); */
}

button,
.button,
input[type=file],
input[type=reset],
input[type=button],
input[type=submit] {
  cursor: pointer;
  touch-action: manipulation; /* allow double clicks on iOS */
  text-align: center;
  /* box-shadow: var(--shadow); */
}

textarea {
  line-height: var(--line-height);
  resize: vertical;
  resize: both;
  min-height: 100px;
  min-width: 250px;
}

select {
  line-height: 1.2;
  padding-right: 2.2rem;
  background-image:
    linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - (.6rem + 6px)) 1.1rem,
    calc(100% - .6rem) 1.1rem;
  background-size:
    6px 6px,
    6px 6px;
  background-repeat: no-repeat;
  /* box-shadow: var(--shadow); */
}

select option, optgroup {
  background: var(--w10);
  color: var(--w90);
}

label {
  line-height: var(--line-height);
}

input + label {
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
  line-height: 1;
  width: 300px;
}

::placeholder {
  /* opacity: 0.5; */
  color: var(--w50);
}

:disabled,
:disabled + label {
  filter: brightness(50%);
  cursor: not-allowed;
}

:disabled:hover {
  filter: brightness(50%);
}

/* Text selection */
::selection {
  color: var(--w10);
  background: var(--a50);
}
::-moz-selection { /* Code for Firefox */
  color: var(--w10);
  background: var(--a50);
}

/* Hover */
@media (hover: hover) {
  :focus,
  a:hover,
  tr:hover,
  input:hover,
  select:hover,
  button:hover {
    filter: brightness(150%);
  }
}

/* If iOS */
@supports (-webkit-touch-callout: none) {
  input[type="date"]::after,
  input[type="datetime-local"]::after,
  input[type="month"]::after,
  input[type="week"]::after {
    padding-left: var(--padding-x);
    content: "📅";
  }
  input[type="time"]::after {
    padding-left: var(--padding-x);
    content: "🕘";
  }
}

/* #endregion */
