/* inputs.css v3 | 5-25-2022 */

/* #region Checkboxes / Radio */

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  display: inline-grid;
  place-content: center;
  padding: 0;

  width: 1.5em;
  height: 1.5em;
  vertical-align: baseline;
  
  margin-right: 4px;
}
input[type="radio"] { border-radius: 50%; }
input[type="checkbox"] { border-radius: var(--radius); }

/* Inner Symbol */
input[type="radio"]::before,
input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  box-shadow: inset 1em 1em currentColor;
}
input[type="radio"]::before{border-radius: 50%;}
input[type="checkbox"]::before {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Checked Show Symbol */
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Checkbox / Radio as button */
input.button {
  display: none;
}
input.button + label {
  width: 100%;
  padding: var(--padding);
  border-radius: var(--radius);
  border: var(--border);
  /* border-color: var(--w30); */
  background-color: transparent;
  color: var(--w90);
}
input:checked.button + label {
  border-color: var(--w50);
  background-color: var(--w30);
  color: var(--w90);
}

/* Checkbox / Radio as Text */
input.text {
  display: none;
}
input.text + label {
  width: 100%;
  color: var(--w50);
}
input:checked.text + label {
  color: var(--w90);
}

/* #endregion */

/* #region Progress / Range */

progress[value],
input[type=range] {
  padding: 0;
  min-width: 200px;
  height: 1.5em;
  vertical-align: top;
}

progress[value] { height: 1em; }

/* #endregion */