/* type.css v3 | 5-25-2022 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@300;400;700&display=swap');

/* #region Decorations - Italic, Bold, Underline, Strikethrough, and Highlight text */

b,
em,
strong {
  font-weight: bold;
}

blockquote {
  z-index: 1;
  display: block;
  position: relative;
  padding: var(--gap);
  page-break-inside: avoid;
  border-left: var(--border);
  max-width: 80ch;
  background-color: black;
  color: var(--w70);
  overflow: hidden;
}
blockquote > :first-child {
  margin-top: 0;
  text-indent: var(--gap);
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote.quote-bg::before {
  z-index: -1;
  content: open-quote;
  font-family: sans-serif;
  font-size: 4rem;
  color: var(--w30);
  left: 0.25rem;
  position: absolute;
  line-height: 1;
  top: 0;
}

cite {
  font-style: italic;
  font-weight: lighter;
}

code {
  font-family: var(--font-mono);
  font-size: 0.9rem;
  padding: var(--padding);
  background: black;
  border-radius: var(--radius);
  color: var(--w70);
  line-height: var(--line-height);
}

i,
q { 
  font-style: italic;
}

kbd {
  background-color: var(--w30);
  border: 1px solid var(--w50);
  border-radius: var(--radius);
  color: var(--w90);
  font-family: var(--font-mono);
  font-size: 0.9rem;
  padding: .25rem;
}

mark {
  color: var(--a10);
  background-color: var(--a70);
  border-left: 4px solid var(--a70);
  border-right: 4px solid var(--a70);
}

pre { white-space: pre; }

pre > code {
  border-radius: 0;
  padding: var(--gap);
  border-left: var(--border);
  display: block;
  overflow: auto;
  width: max-content;
}

s,
del,
strike {
  text-decoration: line-through;
  text-decoration-color: var(--w70);
}

small {
  font-size: 0.75em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: var(--padding);
}

th {
  border-bottom: var(--border);
  font-weight: bold;
}

/* #endregion */

/* #region Lists - ol ul dl li */

/* Unordered, Ordered and Detail Lists */
ul { list-style: disc inside; }
ol { list-style: decimal inside; }
ol, ul, dl { margin-left: var(--gap) ;}
li {
  line-height: var(--line-height);
}
dd {
  line-height: var(--line-height);
  margin-left: calc(var(--gap)*2);
}

/* List inside a List */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
  margin-left: calc(var(--gap)*2);
}

/* #endregion */

/* #region Other - details summary */

details {
  max-width: 100%;
  display: grid;
  gap: var(--gap);
  align-items: baseline;
}

details.bg {
  padding: var(--padding);
  background-color: black;
  border-radius: var(--radius);
  border: var(--border);
  /* border-color: black; */
  /* border-color: var(--w30); */
}

details summary {
  display: block;
  cursor: pointer;
}

summary:before {
  font-family: var(--font-mono);
  font-weight: bold;
  text-align: center;
  padding-right: var(--gap);
  width: 1.25em;
  content: '+';
}

details[open] summary:before {
  content: '-';
}

details[open] summary {
  margin-bottom: var(--gap);
}

details summary::-webkit-details-marker {
  display: none;
}

/* summary:focus {
  outline: none;
} */

/* #endregion */